.env
/env
env
.flaskenv
env/Lib/site-packages/_distutils_hack/__init__.py
env/Lib/site-packages/click/__pycache__/_compat.cpython-310.pyc
.idea
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/routes.cpython-310.pyc
